<%= form_for @showing do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :performance %><br />
    <%= f.text_field :performance %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :room %><br />
    <%= f.number_field :room %>
  </p>
  <p>
    <%= f.label :time_ini %><br />
    <%= f.text_field :time_ini %>
  </p>
  <p>
    <%= f.label :time_end %><br />
    <%= f.text_field :time_end %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </p>
  <p><%= f.submit %></p>
<% end %>
