<div class="column-center" id="room-form">
  <%= form_for @room do |f| %>
    <%= f.error_messages %>

    <div class="box inline-form">
      <p>
        <%= f.label :name %>
        <%= f.text_field :name, :class => "input-box", :style => "width: 378px" %>
      </p>
    </div>

    <div class="box inline-form">
      <p>
        <%= f.label :rows %>
        <%= f.number_field :rows, :id => "room-rows", :class => "input-box room-dimension", :style => "padding-right: 5px", :maxlength => "3", :size => "3" %>
      </p>

      <p>
        <%= f.label :cols %>
        <%= f.number_field :cols, :id => "room-cols", :class => "input-box room-dimension", :style => "padding-right: 5px", :maxlength => "3", :size => "3" %>
      </p>
    </div>

    <div class="box inline-form">
      <p>
        <%= f.label :map %>
      </p>
    </div>

    <div id="room-map">
      <div class="room-screen">screen</div>
      <div class="room-seats"></div>
    </div>

    <div id="controls">
      <%= f.submit "send data", :class => "button" %>
    </div>

  <% end %>
</div>

<script type="text/template" id="template-room-cell">
  <span>&#x21;</span>
  <div style="display:none">
    <input type="hidden" name="room[seats_attributes][{{ id }}][row]" value="{{ row }}" />
    <input type="hidden" name="room[seats_attributes][{{ id }}][col]" value="{{ col }}" />
  </div>
</script>
