<% title "Performance" %>

<p>
  <strong>Title:</strong>
  <%= @performance.title %>
</p>
<p>
  <strong>Synopsis:</strong>
  <%= @performance.synopsis %>
</p>
<p>
  <strong>Title Original:</strong>
  <%= @performance.title_original %>
</p>
<p>
  <strong>Year:</strong>
  <%= @performance.year %>
</p>
<p>
  <strong>Duration:</strong>
  <%= @performance.duration %>
</p>
<p>
  <strong>Card:</strong>
  <%= @performance.card %>
</p>

<p>
  <%= link_to "Edit", edit_performance_path(@performance) %> |
  <%= link_to "Destroy", @performance, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", performances_path %>
</p>
