<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    <%= javascript_include_tag "app_start" %>
  </head>

  <body>
    <div id="loading"><%= image_tag "/assets/spinner_min.gif" %></div>
    <div id="container">
      <div id="menu">
        <ul>
          <li><a href="#performances">Performances</a></li>
          <li><%= link_to "Calendar", calendar_month_url( :date => Time.now.strftime("%Y-%m") ) %></li>
          <li><a href="#config">Config</a></li>
          <li><a href="#rooms">Rooms</a></li>
        </ul>
      </div>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
